@(user: Users, ques: List[Questions])

@main(user) {

  <div class="row">
  <div class="col-md-2">
  Some image
  Hello
  </div>
  <div class="col-md-10">
  <div class="container col-md-12">
  @if(ques.size != 0){
    @for(que <- ques){
      <div class="jumbotron">
      <h3>Question</h3>
      <p style="font-size:16px;">
      @Html(que.ques)
      </p>
      <a class="btn btn-success glyphicon glyphicon-download-alt" href="@que.link" target="_blank"> data-set</a>
      <a class="btn btn-primary glyphicon glyphicon-stats" href="/submissions/@que.id"> submissions</a>
      </div>
    }
  } else {
    <p style="font-size:16px;">
    No data to display
    </p>
  }
  </div>
  </div>
  </div>

}
