@(user: Users)

@main(user) {

  <div class="row">
    <div class="col-md-2">
      Some image
      Hello
    </div>
    <div class="col-md-10">
      <div class="container col-md-12">
        <div class="jumbotron">
          <h3>Question</h3>
          <p style="font-size:16px;">
            @Html(Questions.getQuestion.ques)
          </p>
          <a class="btn btn-success glyphicon glyphicon-download-alt" href="@Questions.getQuestion.link" target="_blank"> data-set</a>
          <button class="btn btn-primary glyphicon glyphicon-stats"> submissions</button>
        </div>
      </div>
    </div>
  </div>

}
