@(signupForm: Form[Application.Register])

@import helper._
@implicitFieldConstructor = @{
    FieldConstructor(twitterBootstrapInput.render)
}

@import Application.Register

<h3>@Messages("signup.new")</h3>

@form(controllers.account.routes.Signup.save()) {

    <fieldset>
        @inputText(
        signupForm("email"),
        'placeholder -> Messages("email"),
        '_label -> null,
        'class -> "form-control"
        )
        @inputText(
        signupForm("fullname"),
        'placeholder -> Messages("fullname"),
        '_label -> null,
        'class -> "form-control"
        )
        @inputPassword(
        signupForm("inputPassword"),
        '_label -> null,
        'placeholder -> Messages("password"),
        'class -> "form-control"
        )
        @helper.select(signupForm("college"),
            options = Seq(
            "test college" -> "Test College",
            "test college1" -> "Test College 1",
            "test college2" -> "Test College 2"
            ),
        '_label -> null
        )


    </fieldset>

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="@Messages("signup.signup")">
        </div>
    }
